@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #424242 !important;
}

.card-tipo-envio{
    transition: 0.3s;
}

.card-tipo-envio:hover{
    background-color: rgb(216, 215, 215) !important;
    cursor: pointer;
}

.card-tipo-envio-seleccionado {
    background-color: rgb(228, 228, 228) !important;
}

.input-error {
    font-size: small;
}


@media (max-width: 1080px) {    
    .titulo-card-envio {
        font-size: 1rem !important;
    }
}

@media (min-width: 770px) and (max-width: 991px) {    
    .card-envio-checkbox {
        display: none !important;
    }
}

@media (max-width: 580px) {    
    .card-envio-checkbox {
        display: none !important;
    }
}