@import url("https://fonts.googleapis.com/css2?family=DM+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Mono&family=Press+Start+2P&display=swap");
.fondo {
  background: url(https://cdn.dribbble.com/users/2480087/screenshots/7009361/media/5be4690e38762fd53647912018e86189.gif)
    center center fixed;
  background-size: cover;
  background-color: black;
}
h1 {
  font-size: 3em;
  margin: 0.2em 0.5em;
  color: whitesmoke;
}
body {
  height: 100%;
  width: 100%;
}
.conteniendo2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.volverApag {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: whitesmoke;
  font-family: "DM Mono", monospace;
}
.volverApag h2 {
  padding-top: 70px;
  margin-left: 50px;
}
.volverApag h4 {
  margin-left: 50px;
}
.letraFriki {
  font-family: "Press Start 2P", cursive;
}
.contenedor-boton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ingreso {
  width: 30vw;
}
@media (max-width: 576px) {
  .volverApag h2 {
    margin-left: 0px;
    padding-top: 0px;
  }
  .volverApag h4 {
    margin-left: 0px;
  }
  .ingreso {
    text-align: center;
    vertical-align: center;
    font-size: 30px !important;
    font-weight: bold !important;
    width: 90vw;
    height: 10vh;
  }
}
