@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:wght@300&display=swap');
/* 
.nuestroServ{
  
  border: #19ED18 solid 0.7px;
} */



.principal, body{
  height: 80vh;
  background-color: #060606 !important;
}
.bodyPadre{
  background-color: #060606;
  color: beige;
}
.nuestro{
  color: beige;
}
.bodyPadre p, span{
  font-size: 1.2rem;
}
.persona{
  /* width: 200px; 
  height: 200px;   */
 -moz-border-radius: 50%;
-webkit-border-radius: 50%;
border-radius: 50%;
  color: aliceblue;
}
.imagen-pers{
  border-radius: 50%; 
  -moz-border-radius: 50%;
-webkit-border-radius: 50%;
background-color:  rgb(39, 39, 39);
width: 195px; 
  height: 195px;
}
.persona:hover{
  transform: scale(1.2);
  transition: 0.8s;

}
.persona:hover .nombre-imagen{
   opacity: 0.8;
  
}

.nombre-imagen{
  width: 195px; 
  height: 195px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;  
  border-radius: 50% !important;
  color:whitesmoke;
  font-size: 40px;
  position: relative;
  /* background: black; */
  opacity: 0;
  top: -140px;
  left: 0px;
  text-align: center;
  line-height: 80px;
  font-family: 'Dancing Script', cursive;}

.titulo{
  /* color: beige; */
  color:whitesmoke;
  font-family: 'Raleway', sans-serif;
}
.textos{
 
  font-family: 'Raleway', sans-serif;
  
}





 @media (max-width:570px) {
  .contenedor-persona{
    padding-left: 100px ;
    /* margin-left: 100px; */
    padding-right: 0px;
  }
  .contenedorPersona{
    margin: 0px !important;
    padding: 0px !important;
  }
  .persona{
    margin-top: 50px;
  }
} 
