.metodo-pago{
    background-color: rgb(255, 255, 255) !important;
    transition: 0.3s;
}
.metodo-pago:hover {
    background-color: rgb(231, 231, 231)  !important;
    cursor: pointer;
}

.metodo-seleccionado {
    background-color: rgb(235, 235, 235) !important;
}

.tarjeta-grafico {
    background-color: rgb(185, 185, 185);
}

.small-placeholder::placeholder{
    font-size: 0.7rem !important;
}