.card-articulo {
  max-height: 350px;
}
.contenedor-mostrador{
  height: auto;
}

/* .cardProduct {
border: 1px inset rgb(175, 90, 164) !important;
border-image: linear-gradient(to right, #2387ca, #77B300) !important;
border-image-slice: 1 !important;
background-color: transparent !important;
color: white;
z-index: 1;
} */
.cardProduct {
  background-color: #212121 !important;
  color: whitesmoke;
  box-shadow: 4px 4px 4px 4px #424242; 
   position: relative;
  

}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.mercadito-card {
  margin-left: 50px;
 
}
.titulo_product_main {
  margin: 0;
  background-color: black;
  color: white;
  padding: 5px;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}
.btnIrcarrito {
  background-color: #fc893e !important;
  border: #fc893e !important;
  outline: none;
}
.cardArticulos {
  border-color: #fc893e !important;
  background-color: #212121 !important;
  color:whitesmoke;
}
.carrousel-container {
  padding-right: 0px;
  padding-left: 0px;
}
.container-fluid {
  padding-right: 0% !important;
  padding-left: 0% !important;
}


