.Container_Header {
  background-color: rgba(32, 45, 68, 0.7);
  border-bottom: solid 1px #171d2b;
  position: relative;
  z-index: 10;
}
.container_logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
}

.clase{
  overflow: scroll !important;
}
 .containerCart{
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 20rem !important;
  max-height: 100%;
  background-color: whitesmoke;
} 

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center !important;
  font-size: 2rem;
  text-align: center;
  height: 130px !important;
  line-height: 70px;
  color: white;
  font-weight: bold;
  width: 50px !important;
}

.logo_imagen_header {
  max-height: 3rem !important;
  transition: 0.3s;
}

.login_registro_header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.login_registro_header span{
  color: rgb(223, 177, 177);
}
.login_registro_header button {
  height: 40px;
}
.btnLogin_header {
  width: 10em !important;
  background: rgba(99, 53, 160, 0.7) !important  ;
  color: #f1f1f1!important;
  border: 0px solid #171f33  !important;
  font-weight: bolder !important;
  transition: 0.2s !important;
}
.btnLogin_header:hover {
  background:rgba(133, 61, 228, 0.7)!important;
  box-shadow: 0px 0px 20px 0px rgba(126, 50, 226, 0.4) !important;
}

.btnNav_header {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none !important;
  height: 5rem !important;
  min-width: 8rem !important;
  margin-bottom: -8px !important;
  margin-top: -8px !important;
  transition: 0.4s;
}
.btnNav_header:hover {
/*   background-color: rgba(33, 42, 61, 0.6) !important; */
background-color: rgba(99, 53, 160, 0.4) !important;
}

.btnNav_mainFont{
  margin-top: 8px;
  font-weight: bolder !important;
  color: #ffffff !important;
}

.btnNav_secondFont{
  font-size: smaller;
  font-weight: bolder;
  color: #998d8d;
}
.btnNav_usernameFont{
  margin-top: 8px;
  /* font-weight: bolder !important; */
  color: #ffffff !important;
}
.btnUsername-collapse{
  font-size: 2rem;
  color: white !important;
}

.btnDropdown-username{
  background-color: rgba(97, 56, 56,0.0) !important;
  border: rgba(97, 56, 56,0.0) !important;
  width: 2.5rem;
  border-radius: 0px !important;
  background-color: rgba(102, 88, 119, 0.1) !important;
}
.btnDropdown-username:hover{
  background-color: rgba(32, 45, 68, 0.5) !important;
}
.btnUsername:hover{
  background-color: rgba(30, 50, 83, 0.5) !important;
}
#DropDown-username{
  background-color: rgba(32, 45, 68, 1);
  min-width: 8rem !important;
}
.dropDown-font{
  transition: 0.2s;
  color: white !important;
}
.dropDown-font:hover{
  background-color: rgba(30, 50, 83, 0.7) !important;
}
.dropDown-cerrarSesion{
  color: white !important;
  font-size: 1.2rem !important;
  background-color: rgba(73, 39, 117, 0.8) !important;
  color: rgba(237, 224, 255, 1) !important;
  border-radius: 5px;
  transition: 0.2s;
}
.dropDown-cerrarSesion:hover{
  background-color: rgb(85, 46, 136) !important;
}

@media (max-width: 991px) {
  
  .navbar-desplegable {
    border-top: solid 1px rgb(34, 43, 61);
  }
  .Container_Header{
    background-color: rgba(22, 28, 41, 0.97) !important;
  }
  .btnLogin-out {
    display: none !important;
  }
  .logo_imagen_header{
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
    width: 7rem !important;
  }
  .btnNav_header {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
    height: 4rem !important;
  }
}
@media (min-width: 992px) {
  .btnLogin-collapse {
    display: none !important;
  }
}

.btnCart_header {
  width: 80px;
  height: 70px;
  font-weight: bold !important ;
  position: fixed;
  right: 10px; 
  background:rgba(107, 49, 182, 0.6) !important;
  border:rgba(133, 61, 228, 0.7) !important;
  color: whitesmoke;
}



.btnCart_header:hover {
  background:rgba(107, 49, 182, 0.8) !important;
}
.icons_header_cart{
  font-size: 30px;
  margin-top: 8px;
   color:rgba(255, 255, 255, 1)
}
.cardProducto-Cart{
  background-color: whitesmoke !important;
}

.btnCartOpen{
  font-family: 'Montserrat', sans-serif;
  border: solid 3px rgba(66, 32, 112, 0.8)  !important;
  border-radius: 10px;
  position: fixed;
  width: 500px;
  max-width: 120vh !important;
  min-height: 100px;
  background-color: whitesmoke;
  right: 18px !important;
  box-shadow: -8px 6px 59px 8px rgba(0,0,0,0.75);
}

.btnCart-Color{
  background:rgba(107, 49, 182, 0.6) !important;
  border:rgba(133, 61, 228, 0.7) !important;
}

@media (max-width: 414px) {
  .btnCart_header {
    right: -6px !important; 
    margin-top: 550px;
    background:rgba(107, 49, 182, 0.8) !important;
  }
  .btnCartOpen{
    width: 98% !important;
    right: 1px !important;
  }
}

#padreContainer{
  overflow-y: scroll !important;
}
.btnLogin_header_logout{
  background: #171717 !important;
  color: #19ED18!important;
  border:none !important;
  font-weight: bold !important;
}
.btnLogin_header_logout:hover{
  font-size: 110%;
  color: #168516 !important;
}
.estilosTitulosbtn{
  background-color: #cc2626 !important;
  color: rgb(245, 245, 245);
  border: none;
}
.productitoslistados{
  background-color: #212121 !important;
  color: whitesmoke;
  border: none !important;
  padding: 0px !important;
}

.redesociales {
  color: aliceblue;
}

.font-small {
  background-color: #34495e;
  color: aliceblue;
  margin-top: 0px !important;
  overflow: hidden;
}
.footer-copyright {
  background-color: #283747 !important;
}
.columna-info {
  padding-left: 30px !important;
}


/*? FOOTER */

.container_footer {
  position: relative;
  z-index: 8;
  overflow: hidden !important;
  bottom: 0 ;
  background-color: #111111 !important;
  border-top: 1px solid #161c29;
  box-shadow: 0px -5px 0px 0px rgba(24, 24, 24, 0.7);
}

.footer-section {
  font-family: 'Montserrat', sans-serif;
  color: #7e7e7e;
  min-height: 5rem !important;
}

.footer-menu-link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s;
  cursor: pointer;
  border-bottom: solid 1px #161c29;
}

.footer-menu-link-container:hover {
  background-color: #161c29;
}

.footer-menu-link-container:hover .footer-menu-list-link{
  color: white !important;
}

.footer-menu-list-link{
  min-height: 4rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none !important;
  color: #7e7e7e !important;
  font-weight: bolder;
}

.social-menu-a{
  top: 20%;
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-color: #7e7e7e;
  text-align: center;
  transition: .3s;
}

.social-menu-a:hover {
  transform: translate(0, -5px);
}

.media-icon{
  height: 20px;
  line-height: 60px;
  transition: .6s;
  margin-top: 10px;
  color: white !important;
}

.fb-icon:hover {
  background-color: #3a5797;
}

.tw-icon:hover {
  background-color: #55acee;
}
.insta-icon:hover {
  background-color: #e4405f;
}

.footer-disclaimer{
  font-size: 0.7rem;
}

.footer-disclaimer-option{
  text-decoration: none !important;
  border-bottom: solid 0.1px #7e7e7e;
  color: #7e7e7e !important;
  font-size: 0.8rem;
}


@media (max-width: 766px) {
  .footer-disclaimer-option{
    font-size: 0.6rem;
  }
}


@media (max-width: 938px) {
  .container_footer {
    overflow: hidden;
  } 
}

.btnCartOpen button.btnCart_header{
  display: none;
}     
.cuerpoCart button.cartClose{
  display: none;

}
.cuerpoCart h4.cartClose{
  display: none;

}
.cuerpoCart div.containerCart{
 
  display: none;
}

@media (min-width: 340px) and (max-width: 600px){
  .btnCartOpen{
    width: 90%;  
  }
}

@media (max-width: 340px) {
  .btnLogin_header {
    width: 130px;
    font-size: 11px !important;
  }
}
