*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.contenedor {
    width: 98%;
    height: auto;
    margin: 50px auto;
    display: flex;
    background-color: rgb(231, 236, 245);
    
}
.hijo {
    background-color: rgb(246, 250, 246);
    width: 700px;
    height: 280px;
    margin: 10px;
    padding: 20px;
    display: flex;
    font-size: small;
    justify-content: space-around;
    align-items: center;
    
    
}
.datosProducto{
    display: flex;
    flex-direction: column;
   
   justify-content: space-around;
    align-items: center;
   
}
.producto{
    font-size: small;
    margin-bottom: 20px;
}
.descripcion{
    font-size: smaller;
    margin-bottom: 15px;
}
.cajaDesc {
    width: 300px;
    height: 90px;
}
.precio{
    font-size: small;
    
}
.cantidad{
    width: 40px;
    
}
.borrar{
    margin-top: 10px;
    align-self: flex-end;
}
.datosProducto{
    flex-grow: ;

}
.hijoone{
    background-color: rgb(231, 236, 245);
    width: 700px;
    height: 480px;
    margin: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    

}
.tabla{
    width: 400px;
    height: 250px;
}

.codigo{
    font-size: 12px;
    color: lightgray;
}
.tituloCupon{
    font-size: 14px;
}


@media all and (max-width: 800px){
    .contenedor{
        flex-direction: column;
        height: auto;
        
    }
    .hijo{
        
        justify-content: space-around;
        width: auto;
        

    }
    .hijoone{
        display: flex;
        justify-content: space-around;

    }
}

@media all and (max-width: 600px){

}