/* SUFIJOS A ESTA CLASE ES : REG */
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
.container_reg{
 justify-content: center;
 width: 330px;
 height: 350px;
 position: relative;
 font-family: 'Muli', serif; 
}
.container_titulo_reg{
    justify-content: center;
    display: flex;
    color: aliceblue;
}
.btn-redes{
    border-radius: 10px;
    font-size: inherit !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center !important;
}
  
  ::ng-deep.swal2-container {
    /* z-index: 1000000; */
}