@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: 'Comfortaa', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
